@import "reset.css";
* {
  font-family: Roboto;
}

.main__container {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  padding-top: 46px;
  padding-bottom: 15px;
}

.content__container {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contacts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 19px;
}

.contacts-link {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  justify-self: end;
}

.logo {
  display: flex;
}

.logo__text__container {
  margin-left: 8px;
}

.logo__text {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  display: block;
}

.milan {
  font-size: 29px;
  line-height: 29px;
}

.holidays {
  font-size: 18px;
}

.section__posts {
  padding: 17px 0px 50px;
}

.posts {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-row-gap: 40px;
  justify-content: space-between;
}

.post__text {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  padding-top: 20px;
  text-align: center;
  display: block;
}

.footer {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.posts__item {
  position: relative;
}

.posts__item:hover .hover__bar {
  display: block;
}

.hover__bar {
  position: absolute;
  display: none;
  bottom: 42px;
  left: 0px;
  background-color: #f26522;
  height: 55px;
  width: 300px;
  color: #ffffff;
}

.logo:hover .logo__text,
.posts__item:hover .post__text,
.contacts-link:hover {
  color: #f26522;
}

.logo:hover .logo__picture {
  display: none;
}

.logo:hover::before {
  content: "";
  background-image: url(../img/logo-orange.svg);
  background-repeat: no-repeat;
  width: 53px;
}

.from {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  position: absolute;
  left: 16px;
  top: 7px;
}

.price {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  position: absolute;
  bottom: 12px;
  left: 16px;
}

.view-details {
  position: absolute;
  bottom: 15px;
  right: 16px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.view-details::after {
  content: "";
  background-image: url(../img/vector.svg);
  height: 12px;
  width: 7px;
  display: inline-block;
  margin-left: 16px;
}
